<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emot.screens"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> 

    <application
        android:screenOrientation="portrait"
        android:name="com.emot.model.EmotApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.Panel">
        <activity
            android:theme="@style/CustomActionBarTheme"
            android:name=".ChatScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Emots"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".UpdateProfileScreen"
            android:label="@string/app_name" 
            android:theme="@style/CustomActionBarTheme">
        </activity>
        <activity
            android:theme="@style/CustomActionBarTheme"
            android:name=".ContactScreen"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="com.emot.services.ChatService" />
            </intent-filter>
        </activity>
        
        <activity
            android:theme="@style/CustomActionBarTheme"
            android:name=".GroupChatScreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.emot.services.ChatService"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.emot.services.ChatService" />
            </intent-filter>
        </service>
        
        <receiver android:name="com.emot.services.BootReceiver">
                        <intent-filter>
                                <action android:name="android.intent.action.BOOT_COMPLETED" />
                                <category android:name="android.intent.category.HOME" />
                        </intent-filter>
   </receiver>
    </application>

</manifest>
